.gallery {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-self: center;
  max-width: 880px;

}

.gallery__container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  max-width: 880px;
  row-gap: 20px;
  column-gap: 17px;
  padding: 0;
  margin-top: 46.25px;
  list-style: none;
}

.gallery__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 282px;
  background-color: white;
  border-radius: 10px;
}

.gallery__image {
  position: relative;

  width: 282px;
  height: 282px;
}

.gallery__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 246px;
  margin-left: 21px;
}

.gallery__text {
  position: relative;
  font-family: 'Inter', Arial, sans-serif;
  color: #000000;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__heart {
  position: relative;
  width: 21px;
  height: 19px;
  margin: 0;
  padding: 0;
  background: url('../images/heart_like_disabled.svg');
  margin-top: 4px;
  border-style: none;
}

.gallery__heart:hover {
  cursor: pointer;
  opacity: .5;
}

@media only screen and (max-width: 900px) {
  .gallery__container {
    max-width: 581px;
  }
}

@media only screen and (max-width: 610px) {
  .gallery__container {
    max-width: 282px;
  }
}