.gallery {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-self: center;
    max-width: 880px;
    
}

.gallery__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    max-width: 880px;
    row-gap: 20px;
    column-gap: 17px;
    padding: 0;
    margin-top: 46.25px;
    list-style: none;
  }

  .gallery__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 282px;
    height: 361px;
    background-color: white;
    border-radius: 10px;
  }

  .gallery__item_image {
    position:absolute;
    top: 0;
    left: 0;
    width: 282px;
    height: 282px;
  }
  
  .gallery__item_info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 246px;
    height: 23px;
    margin-bottom: 31px;
    margin-left: 21px;
  }

  .gallery__item_info-text {
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
    color: #000000;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .gallery__item_info-heart {
    position: relative;
    width: 21px;
    height: 19px;
    margin: 0;
    padding: 0;
    background: url('../images/heart_like_disabled.svg');
    margin-top: 4px;
  }

  .gallery__item_info-heart:hover {
    cursor: pointer;
    background: url('../images/heart_like_hover.svg');
  }

  @media only screen and (max-width: 900px) {
    .gallery__container {
      max-width: 768px;
    }
  }

  @media only screen and (max-width: 590px) {
    .gallery__container {
      max-width: 282px;
    }
  }
  