.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: auto;
    box-sizing: border-box;
    margin: auto;
    max-width: 880px;
}

.header__elements {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin: auto;
  width: 100%;
  height: 74px;
  margin-top: 45px;
  align-self: center;
}

.header__elements-logo {
  width: 173px;
  height: 33px;
  
}

.header__elements-line {
  max-width: 100%;
  min-height: 1px;
  margin-top: 41px;
  opacity: 0.7;
  background: #545454;
}

@media only screen and (max-width: 900px) {
  .header {
    width: 580px;
  }

  .header__elements {
    
    width: 320px;
    height: 56px;
    margin-top: 28px;
    
  }
  
  .header__elements-logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-top: 28px;
  }
  
  .header__elements-line {
    width: 320px;
  }
}

@media only screen and (max-width: 590px){
  .header {
    width: 320px;
  }
}


@media only screen and (max-width: 320px) {
  .header {
    width: 320px;
  }  

  .header__elements {
    
    width: 320px;
    height: 56px;
    margin-top: 28px;
    
  }
  
  .header__elements-logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-top: 28px;
  }
   
}

