.popup{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    align-content: center;
    justify-content: center;
    display: none; 
}

.popup__container_overlay {
    height: 1218px;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    background: #000000;
    opacity: .5;
 }

.popup__container {
    width: 510px;
    height: 370px;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
    margin-top: 150px;
}

.popup__container_form {
    width: 430px;
    height: 330px;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: flex-end;
    background: white;
    border-radius: 10px;
}

.popup__container_form-title {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: black;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    width: 358px;
    margin-top: 34px;
}

.popup__container_form-name {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    margin-top: 54px;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__container_form-job {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    margin-top: 29.74px;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }

.popup__container_form-text:first-of-type {
    margin-top: 54px;
}

.popup__container_form-line {
    width: 356px;
    min-height: 1px;
    background: #000000;;
    margin-top: 13.30px;
    opacity: 0.2;
}

.popup__container_form-close {
    position: relative;
    align-self: flex-end;
    width: 34px;
    height: 34px;
    background: url('../images/close.svg');
    background-size: cover;
    border-style: none;
    margin-bottom: 6px;
}

.popup__container_form-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

.popup__container_form-submit {
    width: 358px;
    height: 50.15px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    margin-top: 48px;
    margin-bottom: 26px;
    border-style: none;
}

.popup__container_form-submit:hover {
    cursor: pointer;
    opacity: .8;
}

@media only screen and (max-width: 900px) {
    .popup__container_overlay {
        width: 100%;
        height: 1779px;
        
       }
}


@media only screen and (max-width: 590px) {
    .popup__container_overlay {
        height: 2814px;
       }

       .popup__container {
        width: 334px;
        height: 352px;
        margin-top: 123px;
       }
       
       .popup__container_form {
        width: 282px;
        height: 322px;
       }

       .popup__container_form-title {
        font-size: 18px;
        line-height: 22px;
        width: 238px;
        margin-top: 25px;
    }
    
    .popup__container_form-name {
        width: 238px;
        margin-top: 76px;
    }

    .popup__container_form-job {
        width: 238px;
        margin-top: 30px;
    }
    
    .popup__container_form-text:first-of-type {
        margin-top: 76px;
    }
    
    .popup__container_form-line {
        width: 236px;
        margin-top: 9px;
    }
    
    
    .popup__container_form-close {
        width: 22px;
        height: 22px;
        
    }

    .popup__container_form-submit {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        background: #000000;
        border-radius: 2px;
        margin-top: 46px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .popup__container {
        width: 282px;
        height: 364px;
       }
       .popup__container_form-close {
        margin-right: 6px;
        margin-bottom: 0;
    
    }
    .popup__container_form {
        margin-top: 20px;
    }
}