.header {
  display: flex;
  margin: auto;
  align-content: center;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header__elements {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin: auto;
  width: 100%;
  min-height: 74px;
  margin-top: 45px;
  align-self: center;
}


@media only screen and (max-width: 920px) {
  .header {
    width: 320px;
  }

  .header__elements {
    width: 320px;
    min-height: 56px;
    margin-top: 28px;
  }
}